.carousel {
  display: flex;
  flex-direction: row;
  margin: 5%;
}

.propertyContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* align-items: center; */
  justify-content: center;
  border: 1px solid #40215c;
  border-radius: 10px;
  background-image: linear-gradient(0deg,
      #b085bd, #b085bd9c, #b085bd);
  box-shadow: 0 0 10px #000;
  margin: 1%;
  padding: 1%;
  min-width: 33%;
}

.propertyContainer:hover {
  transform: scale(1.1);
  transition: .2s;
  cursor: pointer;
}

.propertyImage {
  align-self: flex-start;
  width: 200px;
  height: 200px;
  border: 1px solid #40215c;
  border-radius: 10px;
  float: left;
  margin: 2%;
}

.price {
  color: #2b9e08;
}

.propertyData h3 h4 {
  font-size: 1em;
}

@media (max-width: 600px) {
  .carousel {
    justify-content:center;
    margin: auto;
  }

  .propertyContainer {
    width: 26%;
    min-width: 26%;
    min-height: 300px;
  }
  
  .propertyData h3 {
    font-size: 0.7em;
  }
  .propertyData h4 {
    font-size: 0.7em;
  }
  
  .price {
    font-size: 0.7em;
  }

  .propertyContainer img {
    height: 50%;
  }
}