.propertiesContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 34px;
  justify-items: center;
  align-items: flex-end;
  max-width: 50%;
  margin: 0 auto;
}

.propertyContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  border: 1px solid #40215c;
  border-radius: 10px;
  background-image: linear-gradient(0deg,
  #b085bd, #b085bd9c,#b085bd);
  box-shadow: 0 0 10px #000;
}

.propertyContainer:hover {
  transform: scale(1.1);
  transition: .2s;
  cursor: pointer;
}

.propertiesContainer h4 {
  margin: 0;
}

.propertyImage {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  float: left;
  margin: 2%;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  padding: auto;
  margin-bottom: 1%;
}

.propertiesContainer button {
  font-size: 1em;
  margin: 0% 5% 0% 5%;
}

.buttonContainer button {
  border: 0;
  background-image: linear-gradient(0deg,
      #b085bd, #b085bd9c, #b085bd);
  border-radius: 8px;
  color: #fff;
  display: flex;
  font-size: 1.4em;
  padding: 4px;
  cursor: pointer;
  transition: .3s;
  box-shadow: 0 0 10px #000;
}

.buttonContainer button {
  background-color: #111;
  padding: 16px 24px;
  border-radius: 6px;
  transition: .3s;
}

.button:hover button {
  background: none;
  transform: scale(1.2);
}

.button:active {
  transform: scale(0.9);
}

.price {
  color: #2b9e08;
}

.propertyInfo {
  font-size: x-small;
}

.showMoreButton {
  border: 0;
  background-image: linear-gradient(0deg,
      #b085bd, #b085bd9c, #b085bd);
  border-radius: 8px;
  color: #fff;
  font-size: 1.4em;
  padding: 4px;
  cursor: pointer;
  transition: .3s;
}

.loadButton {
  border: 0;
  background-image: linear-gradient(0deg,
      #b085bd, #b085bd9c, #b085bd);
  border-radius: 8px;
  color: #fff;
  display: flex;
  font-size: 1.4em;
  padding: 4px;
  cursor: pointer;
  transition: .3s;
  box-shadow: 0 0 10px #000;
}

.loadButton {
  background-color: #111;
  padding: 16px 24px;
  border-radius: 8px;
  transition: .3s;
}

.loadButton:hover {
  transform: scale(1.2);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading {
  width: 50px;
  height: 50px;
  display: grid;
  animation: s4 4s infinite;
}

.loading:before,
.loading::after {
  content: "";
  grid-area: 1/1;
  border: 8px solid;
  border-radius: 50%;
  border-color: #766DF4 #766DF4 #0000 #0000;
  mix-blend-mode: darken;
  animation: s4 1s infinite linear;
}

.loading::after {
  border-color: #0000 #0000 #E4E4ED #E4E4ED;
  animation-direction: reverse;
}

@keyframes s4 {
  100% {
    transform: rotate(1turn)
  }
}

@media (max-width: 600px) {
  .propertiesContainer{
      align-items: center;
  }

  .propertyContainer {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    align-items: center;
  }
}