
.footer {
    background-color: #693d7a;
    background-image: linear-gradient(0deg,
    #693d7a, #b085bd9c,#693d7a);
    padding: 20px 0;
    min-width: 100%;
  }
  
  .footerContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .footerColumn {
    flex: 1;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footerColumn h3 {
    margin-bottom: 10px;
  }
  
  .footerColumn p, .footerColumn a {
    color: white;
    text-decoration: none;
    margin-bottom: 5px;
  }
  
  .footerColumn ul {
    list-style: none;
    padding-left: 0;
  }
  
  .socialIcons li {
    display: inline;
    margin-right: 10px;
  }
  
  .socialIcons a {
    color: white;
    font-size: 20px;
  }
  
  .socialIcons a:hover {
    color: #b085bd;
  }

  @media (max-width: 600px) {
    .footer {
      max-width: 100%;
      font-size: .6em;
    }

    .footerContent {
      flex-direction: column;
    }

  }
