.footerContainer {
    display: flex;
    flex-direction: column;
    background-color: #693d7a;
    background-image: linear-gradient(0deg,
    #693d7a, #b085bd9c,#693d7a);
    color: #ece9ec;
    display: flex; /* Utilizar flexbox para alinear los elementos en una fila */
    justify-content: center; /* Centrar horizontalmente los elementos */
    margin-top: 1%;
    box-shadow: 0 0 10px #000;
    font-family: 'open sans', arial, sans-serif;
    text-transform: none;
}

.footerContainer h5 {
    margin-top: 1px;
    margin-bottom: 1px;
    text-decoration: none;
}

.emailLinkContainer {
    padding: 2%;
}

.emailLink {
    color: #ece9ec; /* Reemplaza 'your-desired-color' por el color que desees */
    text-decoration: none; /* Quitar la subrayado del enlace */
}
