.navbarContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 34px;
    /* justify-items: center; */
    align-items: center;
    margin: 5%;
}
