.landingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerContainer {
    display: flex;
    flex-direction: row;
    justify-items: center;
    margin-bottom: 5%;
    background-image: linear-gradient(0deg,
            #693d7a, #b085bd9c, #693d7a);
    box-shadow: 0 0 10px #000;
    min-width: 100%;
    justify-content: space-around;
}

.headerContainer {
    display: flex;
    flex-direction: row;
    justify-items: center;
    margin-bottom: 5%;
    background-color: #693d7a94;
    background-image: linear-gradient(0deg, #693d7a, #b085bd9c, #693d7a);
    box-shadow: 0 0 10px #000;
    padding: 10px 20px;
}

.headerContainer .bottom-div {
    margin: 20px auto 40px;
}

.headerLogo {
    display: flex;
    border-radius: 10%;
    grid-column: 2;
    margin-bottom: 0%;
    order: 2;
    align-items: center;
}

.headerLogo img {
    margin: 100px 0px 100px 0px;
    filter: drop-shadow(8px 8px 5px #ffffff);
    cursor: pointer;
}

.headerButtons1 {
    display: flex;
    order: 1;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.headerButtons2 {
    display: flex;
    order: 3;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.headerButton {
    border: 0;
    background-image: linear-gradient(0deg,
            #ab78bb, #b085bd9c, #ab78bb);
    border-radius: 8px;
    color: #fff;
    display: flex;
    font-size: 2em;
    padding: 4px;
    cursor: pointer;
    transition: .3s;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(6px 6px 5px #ffffff);
}

.headerButton span {
    background-image: linear-gradient(0deg,
            #693d7ab0, #b085bd9c, #693d7ab0);
    background-color: #693d7ab0;
    padding: 16px 24px;
    border-radius: 6px;
    transition: .3s;
    width: 200px;
}

.headerButton:hover span {
    background: none;
    transform: scale(1.2);
}

.headerButton:active {
    transform: scale(0.9);
}

.headerButtonsContainer {
    display: flex;
    gap: 30%;
    grid-area: 1 / 2 / 2 / 4;
    justify-content: center;
}

.featuredPropertiesTitle {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    background-image: linear-gradient(0deg,
            #693d7ab0, #b085bd9c, #693d7ab0);
    background-color: #693d7ab0;
    text-shadow: 5px 5px 12px #ffffff;
    min-width: 100%;

}

.featuredProperties {
    margin-left: 1px;
}

.propertyImage {
    align-self: flex-start;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    float: left;
    margin: 2%;
}

.price {
    color: #2b9e08;
}

.mailForm {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1%;
}

@media (max-width: 600px) {
    .headerContainer {
        flex-direction: column;
        align-items: center;
        padding: 5%;
    }

    .headerLogo {
        order: 1;
        align-items: center;
    }

    .headerLogo img {
        margin: auto;
        height: 40%;
        width: 40%;
    }

    .headerButtons1 {
        order: 2;
    }

    .headerButtons1 {
        order: 3;
    }

    .headerButton {
        margin: 2%;
    }

    .headerButton {
        font-size: 1.5em;
    }

    .featuredPropertiesTitle {
        font-size: 1.5em;
        min-width: 100%;
    }

    .featuredProperties {
        margin-left: 10px;
    }
}