/* header.module.css */

.headerContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Ahora el contenedor tiene tres columnas de igual ancho */
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 34px;
    justify-items: center;
    align-items: center;
    margin-bottom: 5%;
    background-color: #693d7a;
}

.headerLogo {
    grid-area: 1 / 1 / 2 / 2;
    border-radius: 10%;
}

.headerButton {
    background-color: transparent;
    border: none;
    color: #ece9ec;
    font-size:1.4em;
    cursor: pointer;
}

.headerButtonsContainer {
    display: flex;
    gap: 300px; /* Espacio entre los botones */
    grid-area: 1 / 2 / 2 / 4; /* Ocupa de la columna 2 a la columna 4 del grid */
    justify-content: center; /* Centra horizontalmente los botones */
}