.filtersContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-start;
    padding: 5% 5% 5% 5%;
    text-align: center;
    border: 1px solid #40215c;
    border-radius: 10px;
    background-image: linear-gradient(0deg,
            #693d7acc, #693d7a, #693d7acc);
    box-shadow: 0 0 10px #000;
    max-width: 300px;
    margin-left: 5%;
}

.filtersContainer>* {
    padding: 10px 0;
}

.filtersContainer select {
    margin: 3%;
    width: 100%;
}

.filtersContainer select option {
    box-shadow: 0 0 10px #000;
}

.filtersContainer select:focus {
    outline: none;
}

.customSelect {
    margin: 3%;
    width: 100%;
    border: none;
    background-color: #fff;
    box-shadow: 0 0 10px #000;
    border-radius: 5px;
    padding: 10px;
}

.customSelect option:checked {
    background-color: #693d7a;
    color: #fff;
}

.filterButton {
    border-radius: 5px;
    margin: 3%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px #000;
    background-image: linear-gradient(0deg,
            #b085bd, #b085bd9c, #b085bd);
    cursor: pointer;
}

.filterButton:hover {
    transform: scale(1.1);
    transition: .1s;
    cursor: pointer;
}

@media (max-width: 600px) {
    .filtersContainer {
        flex-direction: row;
        margin: 10px 10px 10px 10px;
       margin-left: 0%;
        min-width: 100%;
        flex-wrap: wrap;
        padding: 0%;
        align-items: center;
        justify-content: center;
    }

    .customSelect {
        min-width: 25%;
        max-width: 25%;
        justify-content: space-between;
    }

    .filterButton {
        max-width: 25%;
    }
}