.contactContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    padding: 20px;
    background-image: linear-gradient(0deg,
      #b085bdbd, #b085bd9c, #b085bdbd);
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .socialIcons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .socialIcons p {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
  }
  
  .socialIcons li p img {
    margin-right: 10px;
  }

  .socialIcons li {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    color: #fff;
    background-color: #693d7ab0;
    border-radius: 10px;
    transition: 0.3s;
    min-width: 60%;
    padding: 1%;
    width: 100%;
  }

  .socialIcons li:hover {
    transform: scale(1.15);
  }
  
  .mailForm {
    width: 80%;
    max-width: 500px;
  }