/* Estilo para ocultar el input de tipo "file" */
.customFileInput {
    display: none;
  }
  
  /* Estilo para el label personalizado */
  .customFileLabel {
    display: inline-block;
    padding: 8px 12px;
    color: black;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
  }

  .propertyData {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: repeat(2, 1fr); */
    grid-column-gap: 50px;
    grid-row-gap: 34px;
    justify-items: center;
  }

  .mainImage {
    height: 400px;
    width: 400px;
  }

  .price {
    color: #37c50c
}